scripts/
builder-projects/electron-app-mui/templates/plane-quiz/game/index.html

builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/bubbles/bubble_blue.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/bubbles/bubble_pink.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/bubbles/bubble_red.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/bubbles/bubble_yellow.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/characters/chippy.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/effects/explode.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/images/icons/balloonicon.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/sounds/complete.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/sounds/pop.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/assets/sounds/true.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_blue.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_pink.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_red.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_yellow.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/characters/chippy.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/effects/explode.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/sounds/complete.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/sounds/pop.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/sounds/true.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/index.html
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/background.jpg
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/background1.jpg
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/cloud.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/cross.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/explosion.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/obstacle.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/plane.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/tick.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/images/icons/planeicon.png
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/sounds/complete.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/sounds/true.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/assets/sounds/wrong.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/images/background.jpg
builder-projects/electron-app-mui/templates/plane-quiz/game/images/background1.jpg
builder-projects/electron-app-mui/templates/plane-quiz/game/images/cloud.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/cross.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/explosion.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/obstacle.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/plane.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/tick.png
builder-projects/electron-app-mui/templates/plane-quiz/game/sounds/complete.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/sounds/true.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/sounds/wrong.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_blue.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_pink.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_red.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/bubbles/bubble_yellow.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/characters/chippy.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/images/effects/explode.png
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/sounds/complete.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/sounds/pop.mp3
builder-projects/electron-app-mui/templates/balloon-letter-picker/game/sounds/true.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/favicon.svg

builder-projects/electron-app-mui/templates/plane-quiz/game/images/background.jpg
builder-projects/electron-app-mui/templates/plane-quiz/game/images/background1.jpg
builder-projects/electron-app-mui/templates/plane-quiz/game/images/cloud.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/cross.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/explosion.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/obstacle.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/plane.png
builder-projects/electron-app-mui/templates/plane-quiz/game/images/tick.png
builder-projects/electron-app-mui/templates/plane-quiz/game/sounds/complete.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/sounds/true.mp3
builder-projects/electron-app-mui/templates/plane-quiz/game/sounds/wrong.mp3
